<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Carbon Sink Calculation</Name>
    <Version>1.0.0</Version>
    <Title> Carbon Sink Calculation Installer</Title>
    <Publisher></Publisher>
    <StartMenuDir></StartMenuDir>
    <TargetDir>@HomeDir@/HenanPolytechnicUniversity/CarbonSinkCalculation/1.0.0</TargetDir>
</Installer>