<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>CarbonSinkCalculation</Name>
    <Version>1.0.0</Version>
    <Title> CarbonSinkCalculation Installer</Title>
    <Publisher></Publisher>
    <StartMenuDir></StartMenuDir>
    <TargetDir>@HomeDir@/AAAA/CarbonSinkCalculation/1.0.0</TargetDir>
</Installer>